<a href="https://colab.research.google.com/github/jennifertaveras/finance_project/blob/main/complaints.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CFPB Consumer Complaints
###cleaning the dataset for analysis

In [62]:
import pandas as pd
df = pd.read_csv("/content/complaints-2026-01-13_16_28.csv")   # path relative to workspace
df.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,11/21/25,Credit reporting or other personal consumer re...,Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,Company has responded to the consumer and the ...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",NC,28226,NaN,Consent not provided,Web,12/09/25,Closed with explanation,Yes,NaN,17876101
1,07/30/24,Credit reporting or other personal consumer re...,Credit reporting,Incorrect information on your report,Personal information incorrect,The wrong info in my credit reports makes it t...,Company has responded to the consumer and the ...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",FL,33014,NaN,Consent provided,Web,07/30/24,Closed with non-monetary relief,Yes,NaN,9664183
2,11/17/25,Debt collection,Credit card debt,Communication tactics,"You told them to stop contacting you, but they...",NaN,NaN,Resurgent Capital Services L.P.,VA,23505,Servicemember,NaN,Web,12/09/25,Closed with non-monetary relief,Yes,NaN,17875274
3,12/25/25,Credit reporting or other personal consumer re...,Credit reporting,Incorrect information on your report,Information belongs to someone else,NaN,NaN,"EQUIFAX, INC.",SC,29829,NaN,NaN,Web,12/25/25,In progress,Yes,NaN,18285442
4,12/05/25,Credit reporting or other personal consumer re...,Credit reporting,Incorrect information on your report,Information belongs to someone else,NaN,NaN,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CA,92805,NaN,NaN,Web,12/05/25,In progress,Yes,NaN,17768264

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2408000 entries, 0 to 2407999
Data columns (total 18 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Date received                 object
 1   Product                       object
 2   Sub-product                   object
 3   Issue                         object
 4   Sub-issue                     object
 5   Consumer complaint narrative  object
 6   Company public response       object
 7   Company                       object
 8   State                         object
 9   ZIP code                      object
 10  Tags                          object
 11  Consumer consent provided?    object
 12  Submitted via                 object
 13  Date sent to company          object
 14  Company response to consumer  object
 15  Timely response?              object
 16  Consumer disputed?            float64
 17  Complaint ID                  int64
dtypes: float64(1), int64(1), object(16)
memory usage: 330.7+ MB

create a manageable raw subset deleteting the columns that doesn't need for analysis

In [64]:
df_subset = df.drop(columns=[
    'Sub-product',
    'Sub-issue',
    'Consumer complaint narrative',
    'Company public response',
    'Tags',
    'Submitted via',
    'Consumer disputed?',
    'Consumer consent provided?'

])
df_subset.head()

,Date received,Product,Issue,Company,State,ZIP code,Date sent to company,Company response to consumer,Timely response?,Complaint ID
0,11/21/25,Credit reporting or other personal consumer re...,Improper use of your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",NC,28226,12/09/25,Closed with explanation,Yes,17876101
1,07/30/24,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",FL,33014,07/30/24,Closed with non-monetary relief,Yes,9664183
2,11/17/25,Debt collection,Communication tactics,Resurgent Capital Services L.P.,VA,23505,12/09/25,Closed with non-monetary relief,Yes,17875274
3,12/25/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"EQUIFAX, INC.",SC,29829,12/25/25,In progress,Yes,18285442
4,12/05/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CA,92805,12/05/25,In progress,Yes,17768264

standard columns

In [66]:
# renaming columns for readability, consistency and data quality
df_subset = df_subset.rename(columns={
    'Date received': 'date_received',
    'Product': 'product',
    'Issue': 'issue',
    'Company': 'company',
    'State': 'state',
    'ZIP code': 'zip_code',
    'Date sent to company': 'date_sent_to_company',
    'Company response to consumer': 'company_response_to_consumer',
    'Timely response?': 'timely_response',
    'Complaint ID': 'complaint_id'
})

df_subset.head()

,date_received,product,issue,company,state,zip_code,date_sent_to_company,company_response_to_consumer,timely_response,complaint_id
0,11/21/25,Credit reporting or other personal consumer re...,Improper use of your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",NC,28226,12/09/25,Closed with explanation,Yes,17876101
1,07/30/24,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",FL,33014,07/30/24,Closed with non-monetary relief,Yes,9664183
2,11/17/25,Debt collection,Communication tactics,Resurgent Capital Services L.P.,VA,23505,12/09/25,Closed with non-monetary relief,Yes,17875274
3,12/25/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"EQUIFAX, INC.",SC,29829,12/25/25,In progress,Yes,18285442
4,12/05/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CA,92805,12/05/25,In progress,Yes,17768264

drop duplicates

In [67]:
df_subset = df_subset.drop_duplicates()
df_subset.head()

,date_received,product,issue,company,state,zip_code,date_sent_to_company,company_response_to_consumer,timely_response,complaint_id
0,11/21/25,Credit reporting or other personal consumer re...,Improper use of your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",NC,28226,12/09/25,Closed with explanation,Yes,17876101
1,07/30/24,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",FL,33014,07/30/24,Closed with non-monetary relief,Yes,9664183
2,11/17/25,Debt collection,Communication tactics,Resurgent Capital Services L.P.,VA,23505,12/09/25,Closed with non-monetary relief,Yes,17875274
3,12/25/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"EQUIFAX, INC.",SC,29829,12/25/25,In progress,Yes,18285442
4,12/05/25,Credit reporting or other personal consumer re...,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CA,92805,12/05/25,In progress,Yes,17768264

correct date ranges

In [68]:
date_columns = ['date_received', 'date_sent_to_company']

for col in date_columns:
    # Ensure column is in datetime format, coercing errors
    df_subset[col] = pd.to_datetime(df_subset[col], format='%m/%d/%y', errors='coerce')

    print(f"{col} column after specifying format:")
    display(df_subset[col].head())

    # Check for any NaT values that resulted from coercion
    num_invalid_dates = df_subset[col].isna().sum()
    if num_invalid_dates > 0:
        print(f"\nWarning: {num_invalid_dates} dates in '{col}' could not be parsed with the specified format and were converted to NaT.")
    print("\n" + "-"*50 + "\n") # Separator for readability

date_received column after specifying format:

0   2025-11-21
1   2024-07-30
2   2025-11-17
3   2025-12-25
4   2025-12-05
Name: date_received, dtype: datetime64[ns]

--------------------------------------------------

date_sent_to_company column after specifying format:

0   2025-12-09
1   2024-07-30
2   2025-12-09
3   2025-12-25
4   2025-12-05
Name: date_sent_to_company, dtype: datetime64[ns]

--------------------------------------------------

Missing Values

In [69]:
df_subset.isna().sum()

date_received                      0
product                            0
issue                              1
company                            0
state                           4019
zip_code                          14
date_sent_to_company               0
company_response_to_consumer       3
timely_response                    0
complaint_id                       0
dtype: int64

In [70]:
df_subset = df_subset.dropna()

In [71]:
df_subset.isnull().sum()

date_received                   0
product                         0
issue                           0
company                         0
state                           0
zip_code                        0
date_sent_to_company            0
company_response_to_consumer    0
timely_response                 0
complaint_id                    0
dtype: int64

Product Normalization

In [72]:
df_subset['product'].value_counts()

product
Credit reporting or other personal consumer reports                             1989909
Credit reporting, credit repair services, or other personal consumer reports     121764
Debt collection                                                                  120606
Credit card                                                                       44731
Checking or savings account                                                       43528
Money transfer, virtual currency, or money service                                26990
Mortgage                                                                          15738
Vehicle loan or lease                                                             10875
Student loan                                                                      10578
Credit card or prepaid card                                                        7016
Payday loan, title loan, personal loan, or advance loan                            6174
Prepaid card                                                                       3529
Debt or credit management                                                          1693
Payday loan, title loan, or personal loan                                           835
Name: count, dtype: int64

Created a normalize_product function to standardize variations (e.g., grouping different 'credit reporting' entries).

In [73]:
def normalize_product(product):
    product = str(product).lower()
    if 'credit reporting' in product:
        return 'Credit Reporting'
    elif 'credit card' in product:
        return 'Credit Card'
    elif 'payday loan' in product or 'title loan' in product or 'personal loan' in product:
        return 'Payday/Personal/Title Loan'
    elif 'debt collection' in product:
        return 'Debt Collection'
    elif 'checking' in product or 'savings' in product:
        return 'Checking or Savings Account'
    elif 'money transfer' in product or 'virtual currency' in product or 'money service' in product:
        return 'Money Transfer/Virtual Currency'
    elif 'mortgage' in product:
        return 'Mortgage'
    elif 'vehicle loan' in product or 'vehicle lease' in product:
        return 'Vehicle Loan/Lease'
    elif 'student loan' in product:
        return 'Student Loan'
    elif 'prepaid card' in product:
        return 'Prepaid Card'
    elif 'debt or credit management' in product:
        return 'Debt/Credit Management'
    else:
        return product.title() # Default for other products

df_subset = df_subset.copy() # Explicitly create a copy to avoid SettingWithCopyWarning
df_subset['product'] = df_subset['product'].apply(normalize_product)

print("Unique values and counts for 'product' column after normalization:")
print(df_subset['product'].value_counts())

Unique values and counts for 'product' column after normalization:
product
Credit Reporting                   2111673
Debt Collection                     120606
Credit Card                          51747
Checking or Savings Account          43528
Money Transfer/Virtual Currency      26990
Mortgage                             15738
Vehicle Loan/Lease                   10875
Student Loan                         10578
Payday/Personal/Title Loan            7009
Prepaid Card                          3529
Debt/Credit Management                1693
Name: count, dtype: int64

Reset index to default numeric

In [74]:
df_subset.reset_index(drop=True)
df_subset

,date_received,product,issue,company,state,zip_code,date_sent_to_company,company_response_to_consumer,timely_response,complaint_id
0,2025-11-21,Credit Reporting,Improper use of your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",NC,28226,2025-12-09,Closed with explanation,Yes,17876101
1,2024-07-30,Credit Reporting,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",FL,33014,2024-07-30,Closed with non-monetary relief,Yes,9664183
2,2025-11-17,Debt Collection,Communication tactics,Resurgent Capital Services L.P.,VA,23505,2025-12-09,Closed with non-monetary relief,Yes,17875274
3,2025-12-25,Credit Reporting,Incorrect information on your report,"EQUIFAX, INC.",SC,29829,2025-12-25,In progress,Yes,18285442
4,2025-12-05,Credit Reporting,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CA,92805,2025-12-05,In progress,Yes,17768264
...,...,...,...,...,...,...,...,...,...,...
2407995,2025-08-03,Credit Reporting,Problem with a company's investigation into an...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",CO,81403,2025-08-03,Closed with non-monetary relief,Yes,15013894
2407996,2025-11-17,Credit Reporting,Incorrect information on your report,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",MO,64086,2025-11-17,In progress,Yes,17297747
2407997,2024-04-09,Credit Reporting,Problem with a company's investigation into an...,Experian Information Solutions Inc.,IL,60477,2024-04-09,Closed with explanation,Yes,8736194
2407998,2023-06-09,Credit Card,Problem with a purchase shown on your statement,"CITIZENS FINANCIAL GROUP, INC.",NY,147XX,2023-06-27,Closed with monetary relief,Yes,7092230
2407999,2023-02-07,Debt Collection,Attempts to collect debt not owed,"Ability Recovery Services, LLC",FL,33168,2023-02-07,Closed with explanation,Yes,6543129